*{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#ToDoBanner{
    width: 70%;
    height: 300px;
    /* border: 2px solid black; */
    background-color: #DB412A;
    font-size: 3rem;
    color: #ffff;
    padding: 2rem 1.7rem;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#ToDoBanner > h1{
    width: 30%;
}
#ToDoBanner > p{
    font-size: 2rem;
    color: #ffff;
    font-weight: 200;
}

#whiteDiv{
    width: 45%;
    height: 90%;
    right: 15%; 
    background-color: aliceblue;
    position: absolute;
}

#box{
    padding: 2rem 2rem;
    text-align: center;
}

#Form > input{
    width: 80%;
    height: 50px;
}

#Form{
    display: flex;
    justify-content: space-evenly;
}
#Form > button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#box2{
    width: 100%;
    margin-top: 1.5rem;
}

#ListDataDiv > p{
    flex-wrap: wrap;
}
#ListDataDiv{   
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1rem;
}

#ListDataDiv > span{
    width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ListDataDiv > span > input{
    scale: 1.4;
}

#ListDataDiv > span > button{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

#ListDataDiv > span > button > i{
    font-size: 1.2rem;
}