*{
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background:linear-gradient(to left, #CC4E57, #EC7654) ;
}

#root{  

  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 715px) {
  #root{  

    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}